body{
  margin: 0; /* margin에 기본값이 8px이 들어가 있음 */
  background-image: url('../img/imges.avif');
  background-repeat: no-repeat;
  background-size: cover;
}

.task-area{
  border: 1px solid yellowgreen;
}

.task-tabs{
  display: flex;
  border-bottom: 1px solid yellowgreen;
  position: relative;
}

.task-tabs div{
  padding: 1em;
  cursor: pointer;
}

#under-line{
  padding: 0px;
  height: 4px;
  background: pink;
  position: absolute; 
  width: 50px;
  left: 0px;top:50px;
}

.task{
  display: flex;
  justify-content:space-between;
  padding: 10px;
}

.task-done{
  text-decoration: line-through;
}

